{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="mb-3">
        {{ form_label(form.titre, 'Title', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.titre) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.auteur, 'Author', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.auteur, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.auteur) }}
    </div>

    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
